[Unit]
Description=Firstboot Service
After=local-fs.target
Before=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/firstboot.sh

[Install]
WantedBy=sysinit.target
